<a href="https://colab.research.google.com/github/lauraq5/bimestral_parte1/blob/main/ejercicios_for_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCCION REPETITIVA FOR

In [ ]:
# EJERCICIO 1: mostra los numeros del 1 al 10, sin usar instrucciones repetitivas 

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# EJERCICIO 2: Mostrar los numeros del 1 al 10, usando la instruccion repetitiva while 

contador = 1 
print (contador)
while contador <10:
  #contador = contador + 1
  contador += 1 
  print(contador)

In [ ]:
# EJERCICIO 3: Mostrar los numeros del 1 al 10, usando la instruccion for y una lista como iterable 

lista = (1,2,3,4,5,6,7,8,9,10)
for i in lista:
  print(1)

In [ ]:
# EJERCICIO 4: Mostrar los numeros del 1 al 10, usando la instruccion for y la funcion range 

for i in range(1,11):
  print(1)

In [ ]:
# EJERCICIO 5: Mostrar una frase 10 veces, usando la nstruccion for y una lista.

lista = (1,2,3,4,5,6,7,8,9,10)
for i in lista: 
  print("Sistemas, la mejor!!!")

In [ ]:
# Ejercicio 6: mostrar la silaba inicial de los dias de la semana, usando for y una lista con la silaba inicial de los

dias_semana = ["lu","ma","mi","ju","vi ,"sa","do"]
for i in dias_semana:
  print(i)

In [ ]:
# EJERCICIO 7:Mostrar una lista de distintos tipos de datos, usando for 

lista = (1,3,4, 9,True, "Nestor", 8,"Guanenta")
for i in lista:
  print(i)

In [ ]:
# EJERCICIO 8: Ingresar su nombre y mostrarlo letra a letra, usando for 

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
# EJERCICIO 9: Ingresar su nombre y mostrarlo letra a letra, usando for , cambando por asterisco * a la voca e

nombre = input("Digite su nombre: ")
for letra in nombre:
  if letra == "e":
    print("*")
    else:
      print(letra)

In [ ]:
# EJERCICIO 10: Ingresar su nombre y mostrarlo letra a letra, en mayuscula, usando for 

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
# EJERCICIO 11: imprimir listas de numeros usando for y range 

print("Numeros del 0 al 9")
for i in ange(10):
  print(i)

  print("Numeros del 1 al 10")
  for i in range(1,11):
    print(i)

    print("10 veces la frase")
    for i in range(10):
      print("Sistemas la mejor")

      print("10 veces la frase i = ")
      for i in range(10):
        print("i =" + str(i))

        print("10 veces la frase i = ")
        for i in range(10):
          print(f" i = {i}")

print("Rangodel 7 al 10, incrementando de 4 en 4")
for i in range(7,19,4):
  print(i)

  print("Convierte rango en lista a, y la muestra")
  a = list(range(1000))
  print(a)